# 酒水消费分组分析

### 简介:

分组可以理解为 “分割“ - “计算“ - “组合”

特别感谢：https://github.com/justmarkham 提供数据

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  

 ### Step 1. 导入必须的Python库

In [1]:
import pandas as pd

### Step 2. 从这里 [下载地址](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv)  导入数据.

### Step 3. 将这文件中的数据读到变量 drinks.

In [2]:
drinks = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv')
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

### Step 4. 每个大洲的啤酒的平均消费量?

In [3]:
# 译者补充： drinks 按 大洲('continent')分组
#          然后再计算 啤酒消费量('beer_servings') 的平均值
drinks.groupby('continent').beer_servings.mean()

continent
AF     61.471698
AS     37.045455
EU    193.777778
OC     89.687500
SA    175.083333
Name: beer_servings, dtype: float64

### Step 5. 统计每个大洲的葡萄酒的消费情况.

In [11]:
# 译者补充：describe() 会对数据进行统计性描述
drinks.groupby('continent').wine_servings.describe()
#pd.Series.describe?

### Step 6. 计算每个大洲每种酒的平均消费量

In [5]:
drinks.groupby('continent').mean()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,61.471698,16.339623,16.264151,3.007547
AS,37.045455,60.840909,9.068182,2.170455
EU,193.777778,132.555556,142.222222,8.617778
OC,89.687500,58.437500,35.625000,3.381250
SA,175.083333,114.750000,62.416667,6.308333

### Step 7.  计算每个大洲每种酒的消费量的中位数

In [6]:
drinks.groupby('continent').median()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,32.0,3.0,2.0,2.30
AS,17.5,16.0,1.0,1.20
EU,219.0,122.0,128.0,10.00
OC,52.5,37.0,8.5,1.75
SA,162.5,108.5,12.0,6.85

### Step 8. 计算每个洲的spirit消费量的平均值，最小值，最大值.

In [7]:
drinks.groupby('continent').spirit_servings.agg(['mean', 'min', 'max'])

                 mean  min  max
continent
AF          16.339623    0  152
AS          60.840909    0  326
EU         132.555556    0  373
OC          58.437500    0  254
SA         114.750000   25  302