# Ex2 - 开始熟悉你的数据

这里有 [视频](https://www.youtube.com/watch?v=lpuYZ5EUyS8&list=PLgJhDSE2ZLxaY_DigHeiIDC1cD09rXgJv&index=2) 可以看看老师怎么做这个练习（不过这个油管上，还是英文的）

这一次我们直接从网上拉取数据，特别感谢：https://github.com/justmarkham 提供数据

### Step 1. 导入必须的Python库

In [1]:
import pandas as pd
import numpy as np

### Step 2. 从这里 [下载地址]  导入数据(https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. 将这数据放到变量 chipo.

In [2]:
# 这是一个餐厅点餐记录的的 csv 文件，因为它是用 tab('\t') 来分隔字段，所以叫 tsv
# tsv 文件在国外比较常见
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

# 使用 read_csv 函数，由于用 '\t' 来分隔字段，所以增加了 sep='\t' 的参数
# read_csv 返回的是一个 DataFrame 对象，约等于 Excel 里的一个sheet
chipo = pd.read_csv(url, sep = '\t')

### Step 4. 看前10行

In [3]:
# chipo 是一个 DataFrame 对象，可以调用 head函数，参数10表示看前10行
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. 在 chipo 里有多少行数据

In [5]:
# 解法1
# DataFrame 对象有一个叫 shape的属性
print(chipo.shape) # 你可以认为它就一个列表
chipo.shape[0]     # 这个列表里的第一个数就是行数

<class 'tuple'>
(4622, 5)

4622

In [5]:
# 解法2
# 调用 DataFrame 对象的 info 的函数，显示信息更全
# 不但有行数，也有列数，有每个字段的类型还有占用内存大小
chipo.info() # 4622 行

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

### Step 6. chipo中有多少列数据

In [6]:
# DataFrame 对象有一个叫 shape的属性
print(chipo.shape) # 你可以认为它就一个列表
chipo.shape[1]     # # 这个列表里的第二个数就是行数

5

### Step 7. 打印出 chipo 中有所有的列

In [10]:
# DataFrame 对象有一个叫 columns 的属性
print("chipo.columns:",chipo.columns)

print("*" * 50)
# 我们也有可以把列名一个个打出来
for col in chipo.columns:
    print(col)

chipo.columns: Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')
**************************************************
order_id
quantity
item_name
choice_description
item_price

### Step 8. How is the dataset indexed?

In [8]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [9]:
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered?

In [10]:
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 11. What was the most ordered item in the choice_description column?

In [11]:
c = chipo.groupby('choice_description').sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)
# Diet Coke 159

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

In [12]:
total_items_orders = chipo.quantity.sum()
total_items_orders

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [13]:
chipo.item_price.dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [14]:
dollarizer = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer)

#### Step 13.c. Check the item price type

In [15]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [22]:
revenue = (chipo['quantity']* chipo['item_price']).sum()

print('Revenue was: $' + str(np.round(revenue,2)))

Revenue was: $39237.02

### Step 15. How many orders were made in the period?

In [23]:
orders = chipo.order_id.value_counts().count()
orders

1834

### Step 16. What is the average revenue amount per order?

In [31]:
# Solution 1

chipo['revenue'] = chipo['quantity'] * chipo['item_price']
order_grouped = chipo.groupby(by=['order_id']).sum()
order_grouped.mean()['revenue']

21.394231188658654

In [32]:
# Solution 2

chipo.groupby(by=['order_id']).sum().mean()['revenue']

21.394231188658654

### Step 17. How many different items are sold?

In [33]:
chipo.item_name.value_counts().count()

50