# 口袋妖怪游戏数据

### 简介:

这一次你会自己创建 DataFrame/Series.

DataFrame 类似于 Excel中的一个 Sheet，Series 类似于 Sheet 中的一列


### Step 1. 导入必须的Python库

In [2]:
import pandas as pd

### Step 2. 创建数据字典对象

In [3]:
raw_data = {"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [45, 39, 44, 45],
            "pokedex": ['yes', 'no','yes','no']                        
            }

### Step 3. 这将字典对象转成 DataFrame

In [5]:
pokemon = pd.DataFrame(raw_data)
pokemon.head()
# 大家看 pokemon 的列名是不是按字母进行排序的
# 而且不是按 raw_data 里的顺充排序，后面我们会解决这个问题

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. 对 pokemon 中的列名重新排序

In [8]:
# 我们在 [[ ]] 里重新指定 列名的顺序，生成了一个新的 pokemon
pokemon = pokemon[['name', 'type', 'hp', 'evolution','pokedex']]
pokemon

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. 为 pokemon 新增一个名叫 地点(place) 的列

In [13]:
pokemon['place'] = ['park','street','lake','forest']
pokemon

         name   type  hp   evolution pokedex   place
0   Bulbasaur  grass  45     Ivysaur     yes    park
1  Charmander   fire  39  Charmeleon      no  street
2    Squirtle  water  44   Wartortle     yes    lake
3    Caterpie    bug  45     Metapod      no  forest

### Step 6. 显示 pokemon 每一列字段的类型

In [9]:
pokemon.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
dtype: object

### BONUS: Create your own question and answer it.