# 餐厅用餐数据分析（过滤与排序）

这一次我们直接从网上拉取数据，特别感谢：https://github.com/justmarkham 提供数据

### Step 1. 导入必须的Python库

In [1]:
import pandas as pd

### Step 2. 从这里 [下载地址](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv)  导入数据.

### Step 3. 将这文件中的数据放到变量 chipo.

In [2]:
# 这是一个餐厅点餐记录的的 csv 文件，因为它是用 tab('\t') 来分隔字段，所以叫 tsv
# tsv 文件在国外比较常见
# pd.read_csv 可以直接读网上的数据
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

# 使用 read_csv 函数，由于用 '\t' 来分隔字段，所以增加了 sep='\t' 的参数
# read_csv 返回的是一个 DataFrame 对象，约等于 Excel 里的一个sheet
chipo = pd.read_csv(url, sep = '\t')

### Step 4. 有多少产品价格超过10美元?

In [3]:
# 因为价格('item_price') 是以 $ 开头的字符串，所以要先把 $去掉
# 译者补充：
# value[1:-1] 是取除第1个字符以外的字符串
# 这个表达式将 for 写成了一行, 等价于：
#   prices = []
#   for value in chipo.item_price:
#     prices.append(float(value[1 : -1])
# 大写熟后就会觉得一行的方式简单
prices = [float(value[1 : -1]) for value in chipo.item_price]

# 用清理后的价格覆盖老的价格
chipo.item_price = prices

# 删除重复的产品名("item_name") 数量 ("quantity") 组合
chipo_filtered = chipo.drop_duplicates(['item_name','quantity'])

# 选择数量("quantity") 值为 1 的行
# 译者补充：这个地方不大严谨，如果客户的点单数量都大于1，就会不准确
chipo_one_prod = chipo_filtered[chipo_filtered.quantity == 1]

# 统计价格("item_price")大于10，且产品名("item_name") 不重复的数量
chipo_one_prod[chipo_one_prod['item_price']>10].item_name.nunique()

12

### Step 5. 每一项商品的价格是多少? 
###### print a data frame with only two columns item_name and item_price

In [4]:
# delete the duplicates in item_name and quantity
# chipo_filtered = chipo.drop_duplicates(['item_name','quantity'])
chipo[(chipo['item_name'] == 'Chicken Bowl') & (chipo['quantity'] == 1)]

# select only the products with quantity equals to 1
# chipo_one_prod = chipo_filtered[chipo_filtered.quantity == 1]

# select only the item_name and item_price columns
# price_per_item = chipo_one_prod[['item_name', 'item_price']]

# sort the values from the most to less expensive
# price_per_item.sort_values(by = "item_price", ascending = False).head(20)

,order_id,quantity,item_name,choice_description,item_price
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",8.75
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",8.49
42,20,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",11.25
...,...,...,...,...,...
4590,1825,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",11.25
4591,1825,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",8.75
4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",8.75
4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",8.75
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",8.75

### Step 6. 按商品名(item_name)对 chipo 进行排序

In [5]:
chipo.item_name.sort_values()

# OR

chipo.sort_values(by = "item_name")

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### Step 7. chipo中价格(item_price)最贵的一项?

In [6]:
chipo.sort_values(by = "item_price", ascending = False).head(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8.  Veggie Salad Bowl 被点了多少次?

In [7]:
chipo_salad = chipo[chipo.item_name == "Veggie Salad Bowl"]

len(chipo_salad)

18

### Step 9. Canned Soda 被客户买1份以上的次数有多少?

In [8]:
chipo_drink_steak_bowl = chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)]
len(chipo_drink_steak_bowl)

20